In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

Keyords
 keywords are the reservved wordds in Python and can,t be used as an identifier

In [2]:
print(keyword.kwlist) # list of all python keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist) # python contains 35 keywords

35

#Identifiers

An identifier is a name given to entities like class, functions, variables etc. It helps to differntiate one entity from another

In [4]:
1var = 10 # Identitfier cant starts with a digit

SyntaxError: invalid decimal literal (1129009318.py, line 1)

In [6]:
val2@ = 35 # identifier can,t use special symbols

NameError: name 'val2' is not defined

In [8]:
""" Correct way of defining an identifier (
  Identifier can be a combination of letters (a to z) or uppercase
)"""

val_2 = 10

(Statements) - > Instructions that a python inerepreter can execute

In [10]:
# single line statement
p1 = 10 + 20
p1

30

In [13]:
# Multiline statement
p1 = 20 + 30 \
+ 40 + 50 +\
+70 + 80
p1

290

(Docstrings)
1) Docstrings provide a convient way of associating documentation with functions, classes, methods or modules
2) They appear right after the definition of a function, method,class, or module

In [15]:
def square(num):
    ''' Square Function :- This Function will return the square of a number'''
    return num**2
square(4)

16

In [16]:
square.__doc__ # We can access the Docstring using __doc__ method

' Square Function :- This Function will return the square of a number'

# (Variables)

A python variable is a reserved memory location to store values.A variable is created the moment you first assign a value to it

In [18]:
p=30

In [19]:
""" id() function returns the "identity" of the object.
The Identity of an object - Is an integer
                          - Guranteed to be unique
                          - Constant for this object during its lifetime"""

id(p)

140706138963288

In [20]:
hex(id(p)) # Memory address of the variable

'0x7ff8b36e3d58'

In [21]:
p=20
q=20
r=q
p,type(p),hex(id(p))

(20, int, '0x7ff8b36e3c18')

In [22]:
q,type(q),hex(id(q))

(20, int, '0x7ff8b36e3c18')

In [23]:
r,type(r),hex(id(r))

(20, int, '0x7ff8b36e3c18')

In [24]:
p=20
p=p+10 # variable overwriting
p

30

Multiple Assignments

In [30]:
intvar,floatvar, strvar = 10,2.57,"Python Language"
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [31]:
p1=p2=p3=p4=44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Date Types
Numeric

In [26]:
val1 = 10
print(val1)
print(type(val1))
print(sys.getsizeof(val1)) # size of integer objects in bytes
print(val1, "is Integer?",isinstance(val1,int)) # val1 is an instance of

10
<class 'int'>
28
10 is Integer? True

In [27]:
val3 = 25 + 10j
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3))
print(val3,"is float?",isinstance(val3,float))

(25+10j)
<class 'complex'>
32
(25+10j) is float? False

#String

In [33]:
mystr = ("Happy ""Monday ""Everyone ")
print(mystr)

Happy Monday Everyone

In [34]:
mystr2 = "Woohoo "
mystr2 = mystr2 * 5
mystr2

'WoohooWoohooWoohooWoohooWoohoo'

Update & Delete String

In [36]:
str1 = "HELLO PYTHON"
str1

'HELLO PYTHON'

In [39]:
#Strings are immutable which means elements of a string cannot be change once they assigned
str1[0:5] = 'HOLAA'
# print(str1[0:5])

TypeError: 'str' object does not support item assignment

In [40]:
del str1
print(str1)

NameError: name 'str1' is not defined

iteration through a String

mystr1 = "Hello Everyone"

In [41]:
# Iteration
mystr1 = "Hello Everyone"
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [44]:
for n,i in enumerate(mystr1):
    print(n,i)

0 H
1 e
2 l
3 l
4 o
5
6 E
7 v
8 e
9 r
10 y
11 o
12 n
13 e

In [43]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [46]:
print(str.__dir__)

<method '__dir__' of 'object' objects>

In [2]:
# formating
item1=40
item2 = 55
item3 = 77
res = "Cost of item1,item2 and item3 are {2},{1} and {0}"
print(res.format(item1,item2,item3))

Cost of item1,item2 and item3 are 77,55 and 40

List Membership

In [51]:
list1 = ["one","two","three","four","five","six","seven","eight"]

In [60]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [61]:
list1.reverse()
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [62]:
list1 = list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [74]:
mylist3 = [9,5,2,99,12,88,34]
# mylist3.sort() 
# mylist3
# both will work here
sorted(mylist3)

[2, 5, 9, 12, 34, 88, 99]

In [64]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) 
mylist3

[99, 88, 34, 12, 9, 5, 2]

List Comprehensions

In [65]:
mystring = "WELCOME"
mylist = [i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [66]:
mylist1 = [i for i in range(40) if i%2 == 0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [68]:
# List all numbers divisible by 3,9 and 12 using nested if
mylist4 = [i for i in range(200) if i % 3 ==0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

TypeError: not all arguments converted during string formatting

In [76]:
# sorting in tuple
mytuple2 = (43,67,99,12,6,90,67)
sorted(mytuple2)
# mytuple2.sort()
sorted(mytuple2, reverse=True)

[99, 90, 67, 67, 43, 12, 6]

In [2]:
x=""
if x:
    print("amit")
else:
    print("hello")

amit

In [4]:
# interview question
from datetime import datetime 
print(datetime.now())
print(datetime.today())
print(datetime.now()==datetime.today())

2024-03-27 18:28:30.821574
2024-03-27 18:28:30.821574
True

In [8]:
pip install pandas sqlalchemy pymysql

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/71/00/6beaeeba7f075d15ea167a5caa039b861e58ff2f58a5b659abb9b544c8f6/pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata
  Using cached pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/a8/e9/7f21d2de6cd84923180af0d4a1dd02fd53f2adbc1064e9cabd8beb0553a8/SQLAlchemy-2.0.28-cp312-cp312-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.28-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Using cached PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Obtaining dependency information for numpy<2,>=1.26.0 from https://files.pythonhosted.org/packages/16/2e/86f24451c2d530c88daf997cb8d6ac622c1d40d19f5a031ed68a4b73a374/numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in .\dsa-env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Obtaining dependency information for typing-extensions>=4.6.0 from https://files.pythonhosted.org/packages/f9/de/dc04a3ea60b22624b51c703a84bbe0184abcd1d0b9bc8074b5d6b7ab90bb/typing_extensions-4.10.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.10.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/53/80/3d94d5999b4179d91bcc93745d1b0815b073d61be79dd546b840d17adb18/greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: six>=1.5 in .\dsa-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading SQLAlchemy-2.0.28-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 7.4 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 11.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 8.8 MB/s eta 0:00:00
Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   --------------------------------------- 293.6/293.6 kB 18.9 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, typing-extensions, pymysql, numpy, greenlet, sqlalchemy, pandas
Successfully installed greenlet-3.0.3 numpy-1.26.4 pandas-2.2.1 pymysql-1.1.0 pytz-2024.1 sqlalchemy-2.0.28 typing-extensions-4.10.0 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
pip list

Package           VersionNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

----------------- -----------
asttokens         2.4.1
colorama          0.4.6
comm              0.2.1
debugpy           1.8.1
decorator         5.1.1
executing         2.0.1
greenlet          3.0.3
ipykernel         6.29.3
ipython           8.22.2
jedi              0.19.1
jupyter_client    8.6.0
jupyter_core      5.7.1
matplotlib-inline 0.1.6
nest-asyncio      1.6.0
numpy             1.26.4
packaging         23.2
pandas            2.2.1
parso             0.8.3
pip               23.2.1
platformdirs      4.2.0
prompt-toolkit    3.0.43
psutil            5.9.8
pure-eval         0.2.2
Pygments          2.17.2
PyMySQL           1.1.0
python-dateutil   2.9.0.post0
pytz              2024.1
pywin32           306
pyzmq             25.1.2
six               1.16.0
SQLAlchemy        2.0.28
stack-data        0.6.3
tornado           6.4
traitlets         5.14.1
typing_extensions 4.10.0
tzdata            2024.1
wcwidth           0.2.13

In [6]:
import pandas as pd
from sqlalchemy import create_engine
# engine = create_engine('mysql+pymysql://user:password@host:port/database_name')
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/NetflixDb')

In [9]:
query = 'select * from users'
df = pd.read_sql_query(query, engine)
df['up_dated_emaikl'] = df['email']
print(df)
df.to_sql('users', engine, if_exists='replace', index=False)

   id first_name last_name                 email      mob_no  \
0   2      SUMIT     SINGH    sumit123@gmail.com  9506969009
1   4       Amit     Singh    ak910221@gmail.com  7398669427
2   5     Pranob      Kale  Pranonb123@gmail.com  9145678394
3  11        ram   kishore      ram123@gmail.com    45669060
4  12       Amit     Singh   ak9102214@gmail.com  7398669425
5  13       amit     singh   ak9104221@gmail.com  7398669437
6  14     Anjali     Singh   anjali@123gmail.com  9123456745
7  15      rajat     singh    rajat@123gmail.com  9134567788

                                     hashed_password       up_dated_emaikl
0  $2b$12$ecqX30mcIA1ZOIrouceXDeAlV7v6T2IW3fIxtdd...    sumit123@gmail.com
1  $2b$12$jHUVt2/hZe3BXf1vinb6leRqHwCRJ2hjk5X.e.6...    ak910221@gmail.com
2  $2b$12$gl5LebU4HPfVVOvSrhqGTOGn8fXIT6f.6y6odxY...  Pranonb123@gmail.com
3  $2b$12$ilCtLHMMpy1vabFjz7anweT16nbfqEBUDkBDnbv...      ram123@gmail.com
4  $2b$12$OlcXOFCM7oib/6rLIt2tBu5EKQzMSOGnHYtYJXg...   ak9102214@gmail.com
5  $2b$12$zRkbrW6Ry7YCr0ws8NxDkuMfjIMzeFSCtjq2yuK...   ak9104221@gmail.com
6  $2b$12$wZNuAY0u1ZNsvaujS1YEvuN9nLlbXNz8kS/BNq2...   anjali@123gmail.com
7  $2b$12$h.l.MNKmf297mOgPJvyHzOPoLEUY3dquXi14yn2...    rajat@123gmail.com

8

In [2]:
x=5
y=3
while(x==5):
    if y==2:
        print("amit")
else:
    print("hello--")

In [1]:
a,b,c = 10,20,30

In [5]:
a=50000
a

50000

In [7]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])

# Selecting a single value
print(df.loc['Y', 'A'])  # Output: 2

# Selecting a row
print(df.loc['Y'])  # Output: A    2\nB    5\nName: Y, dtype: int64

# Selecting a column
print(df.loc[:, 'B'])  # Output: X    4\nY    5\nZ    6\nName: B, dtype: int64

# Selecting multiple rows and columns
print(df.loc[['X', 'Y'], ['A', 'B']])  # Output: \n   A  B\nX  1  4\nY  2  5

2
A    2
B    5
Name: Y, dtype: int64
X    4
Y    5
Z    6
Name: B, dtype: int64
   A  B
X  1  4
Y  2  5

In [8]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])

# Selecting a single value
print(df.iloc[1, 0])  # Output: 2

# Selecting a row
print(df.iloc[1])  # Output: A    2\nB    5\nName: Y, dtype: int64

# Selecting a column
print(df.iloc[:, 1])  # Output: X    4\nY    5\nZ    6\nName: B, dtype: int64

# Selecting multiple rows and columns
print(df.iloc[[0, 1], [0, 1]])  # Output: \n   A  B\nX  1  4\nY  2  5

2
A    2
B    5
Name: Y, dtype: int64
X    4
Y    5
Z    6
Name: B, dtype: int64
   A  B
X  1  4
Y  2  5